<div class="container">
  <div class="form-container">
    <h2>Update account settings</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "Leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "We need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :photo, as: :file,
                    required: true,
                    input_html: { accept: 'image/*' } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update my settings", class: "btn btn-tripl" %>
      </div>
    <% end %>
    <br>
    <hr>
    <br>
    <h3>Cancel account</h3>
    <div>
      <p>If you have a change of heart and decide to rejoin Tripl in the future, you’ll need to create a new account.</p>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-tripl" %>
    </div>
  </div>
</div>
